body{
    background-color: #414141;
    font-family: sans-serif;
}
.container{
    background-color: rgb(53, 53, 53);
    width: 40%;
    padding: 0% 10px;
    margin: auto;
}
/* .file-upload-table{
    color: white;
    text-align: center;
    margin: auto;
}
.link{
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 500;
}
.file-upload-util{
    margin-top: 10%;
    margin-bottom: 2%;
}
.error-handling{
    width: fit-content;
    width: 100%;
    background-color: rgb(221, 221, 221);
    text-align: center;
    margin: auto;
} */
.error-handling p{
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif; 
    color: red;
}
input[type="file"]{
    display: none;
}
label{
    color: white;
    height: 60px;
    width: 250px;
    background-color: #f5af09;
    position: absolute; 
    margin: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}