.link{
    border: 0;
    outline: none;
    cursor: pointer;
    font-weight: 500;
}
.file-upload-util{
    margin-top: 10%;
    margin-bottom: 2%;
}
.error-handling{
    /* SET VALUE FOR THE WIDTH */
    width: 200px;
    /* SET THE LOGO HEIGHT 100% OF THE CONTAINER */
    height: 100%;
    /* SET THE BACKGROUND COLOR */
    background-color: grey;
    display: flex;
    /* SET A FONT */
    font-family:Arial, Helvetica, sans-serif; 
}
