.container{
    background-color: rgba(37, 37, 37, 0.5);
    width: 50%;
    padding: 1% 5px;
    margin: auto;
    margin-top: 5%;
    border: 1px solid #69696988;
    text-align: center;
}
.file-upload-table{
    color: wheat;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.file-upload-table td{
    background:#33282824; 
    border: 1px solid #69696988;
    text-align: center;
}
.error-handling{
    width: fit-content;
    width: 25%;
    background-color: rgba(136, 135, 135, 0.473);
    text-align: center;
    margin: auto;
    margin-top: 2%;
    opacity: 0.7;
}
.error-handling p{
    margin-left: 10px;
    font-family:Arial, Helvetica, sans-serif; 
    color: rgba(255, 0, 0, 0.678);
    font-size: 30px;
    letter-spacing: 0.35;
    font-weight: normal;
}
.session_information{
    text-align: left;
    width: auto; 
    padding: 10px;
}
.session_information p{
    color: wheat;
    text-transform:uppercase; 
}
.welcome-message h1{
    text-align: center;
    padding: 1%;
    border:2px solid rgba(94, 255, 1, 0.493);
}
.welcome-message h1 a{
    color: red; 
}

@media (max-width: 768px) {
    .container{
        display: block;
        width: 100%;
    }
    .file-upload-table{
        color: wheat;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    .error-handling{
        width: fit-content;
        width: 50%;
        background-color: rgba(136, 135, 135, 0.473);
        text-align: center;
        margin: auto;
        margin-top: 2%;
        opacity: 0.7;
    }
    .error-handling p{
        margin-left: 10px;
        font-family:Arial, Helvetica, sans-serif; 
        color: rgba(255, 0, 0, 0.678);
        font-size: 20px;
        letter-spacing: 0.35;
        font-weight: normal;  
    }
    .session_information{
        background-color: rgb(0, 0, 0);
        width: 50%;
        padding: 15px 5%;
    }
    .session_information p{
        color: wheat;
        text-transform:uppercase; 
    }
}