RewriteEngine on
DirectoryIndex form.php
# RewriteCond %{HTTPS} off          
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# RewriteCond ^form/([0-9a-zA-Z_-]) form.php?error=$1 [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]
Options -Indexes